div {
  background-color: hsl(from red h s l);
  background-color: rgb(from #1b7cbb r g b);

  background-color: hsl(from #1b7cbb h s calc(l - 20%));
}

div {
  color: #1ed760;
  background-color: var(--color);
}

div:hover {
  background-color: hsl(from var(--color) h calc(s - 10%) l);
}
