* {
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

section {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  grid-template-columns: 50px;
  grid-auto-columns: 300px;
  border: 2px solid hotpink;
  border-radius: 10px;
  overflow-x: auto;
}

div {
  border-radius: 10px;
  overflow: hidden;
}

div img {
  object-fit: cover;
}

section:has(div) {
  scroll-snap-type: x mandatory;
  scroll-snap-stop: normal;
  scroll-padding-left: 50px;
}

section > div {
  scroll-snap-align: start;
}

section > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  background-color: blanchedalmond;
  rotate: 180deg;
  position: sticky;
  left: 0;
}
