* {
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

section {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  grid-auto-columns: 300px;
  border: 2px solid hotpink;
  border-radius: 10px;
  overflow-x: auto;
}

div {
  border-radius: 10px;
  overflow: hidden;
}

div img {
  object-fit: cover;
}

section:has(div) {
  scroll-snap-type: x mandatory;
  scroll-snap-stop: normal;
}

section > div {
  scroll-snap-align: start;
  /* scroll-padding-left: 2rem; */
  /* scroll-padding: 1rem 2rem 1rem 3rem; */
  /* scroll-margin: 2rem; */
}
